
<div class="center jumbotron ">
  <h1 style="text-align: center">Welcome to Barahi Constructions</h1>
  <h2>
    <a class=" btn btn-danger btn-lg btn-xlarge" href="#" role="button" style="color: white;">Employee Sign Up</a>
  </h2>
</div>